* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(../img/grisclarito.jpg);
}

/*
HEADER
*/

nav {
    background-color: #ffeadb;
    width: 100%;
    position: fixed;
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 15px 5px 1px 5px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #ff9a76;
    font-family: 'Lora', serif;
}

/*
TITULOS
*/

.home {
    display: flex;
    flex-direction: column;
    background-image: url(../img/fondo_inicio.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 200px;
}

.home h1,
h2,
h3 {
    padding: 15px;
    color: #ff9a76;
    align-items: center;
    font-family: 'Lora', serif;
    font-size: 50px;
    margin-left: 40px;
}

.home h1 {
    padding-top: 50px;
    margin-top: 200px;
}

.home h3 {
    margin-bottom: 300px;
}


/*
SOBRE MI
*/

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about {
    margin-top: 10%;
}

.fondoSeccion {
    background-image: url(../img/sobre_mi.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10%;
}

article {
    display: flex;
    flex-wrap: wrap;
}

article .p1 {
    padding-left: 5%;
    padding-right: 35%;
    padding-top: 50px;
    font-family: 'Raleway', sans-serif;
    color: #637363;
}

article .p2 {
    padding-left: 35%;
    padding-right: 5%;
    padding-top: 100px;
    font-family: 'Raleway', sans-serif;
    color: #637363;
    margin-bottom: 15%;
}

.flecha {
    position: fixed;
    width: 40px;
    height: 40px;
    line-height: 40px;
    bottom: 30px;
    right: 30px;
    background-color: #679b9b;
    color: #fff;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
}




/*
TECNOLOGIAS
*/

.tecnologias {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#technologies {
    margin-top: 10%;
    margin-bottom: 8%;
}

.fondoTech {
    background-image: url(../img/tecnologias.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.tecImg {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tecImg img {
    width: 100px;
    padding: 20px;
    padding-bottom: 50px;
    margin-bottom: 4%;
}


/*
TRABAJOS
*/

.trabajos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#work {
    margin-top: 10%;
    margin-bottom: 2%;
}

.card-group {
    margin: 10%;
}

.card-title {
    text-align: center;
    font-family: 'Lora', serif;
    margin-top: 15px;
    color: #637363;
}

.card-img-top {
    width: auto;
}



/*
CONTACTO
*/

.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact {
    margin-top: 10%;
    margin-bottom: 5%;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 100px;

}

.row {
    padding-top: 10px;
}

input {
    background-color: #fff;
}

label {
    color: #ff9a76;
    font-family: 'Lora', serif;
}

textarea {
    background-color: #fff;
}

.boton {
    margin-top: 15px;
    font-family: 'Lora', serif;
    background-color: white;
    color: #637363;
}

.boton:hover {
    background-color: #679b9b;
    color: #fff;
}

/*
FOOTER
*/

footer {
    background-color: #679b9b;
    padding: 20px;
    text-align: center;
    width: 100%;
}

footer .footer1 {
    margin-top: 10px;
    margin-bottom: 35px;
}

footer .footer1 img {
    width: 30px;
    margin-left: 20px;
}

footer .footer2 a {
    text-decoration: none;
    color: #ffeadb;
    margin-left: 20px;
}

.mail {
    margin-bottom: 15px;
    color: #ffeadb;
}



@media only screen and (max-width: 568px) {

    .home h1,
    h2,
    h3 {

        align-items: center;
        text-align: center;
        margin-left: 0px;

    }

    .p1,
    .p2 {
        font-size: 12px;
        margin-left: -10px;
    }

    .tecnologias h3 {
        font-size: 18px;
    }

    .mail p {
        font-size: 12px;
    }

    .footer2 a {
        font-size: 11px;
    }

    .hamburger {
        position: fixed;
        background-color: transparent;
        left: -15px;
        top: 0;
        height: 30px;
        width: 30px;
        padding: 20px 20px;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
        transition: transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
        z-index: 1002;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none
    }

    .hamburger.is-active {
        background-color: none;
    }

    ._layer {
        background: #333333;
        margin-bottom: 4px;
        border-radius: 2px;
        width: 28px;
        height: 4px;
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
        transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    }

    .hamburger:hover .-top {
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    .hamburger:hover .-bottom {
        -webkit-transform: translateY(50%);
        -ms-transform: translateY(100%);
        transform: translateY(100%);
    }

    .hamburger.is-active .-top {
        -webkit-transform: translateY(200%) rotate(45deg) !important;
        -ms-transform: translateY(200%) rotate(45deg) !important;
        transform: translateY(200%) rotate(45deg) !important;
    }

    .hamburger.is-active .-mid {
        opacity: 0;
    }

    .hamburger.is-active .-bottom {
        -webkit-transform: translateY(-200%) rotate(135deg) !important;
        -ms-transform: translateY(-200%) rotate(135deg) !important;
        transform: translateY(-200%) rotate(135deg) !important;
    }

    .menuppal.is_active {
        transform: translate3d(0px, 0px, 0px);
    }

    .menuppal {
        background-color: #ffeadb;
        bottom: 0;
        height: 35%;
        left: 0;
        overflow-y: scroll;
        position: fixed;
        top: 0;
        transform: translate3d(0px, -100%, 0px);
        transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
        width: 100%;
        z-index: 1001;
    }

    .menuppal ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    .menuppal ul li {
        list-style: none;
        text-align: center;
        font-family: Verdadna, Arial, Helvetica;
        color: red;
        font-size: 1.5rem;
        line-height: 3em;
        height: 2em;
        color: #ff9a76;
        text-transform: none;
        font-weight: bold;
        display: block;
    }

    .menuppal ul li a {
        text-decoration: none;
        color: #ff9a76;
        font-size: 15px;
    }

    .menuppal ul li a:hover {
        text-decoration: none;
        color: #333;
        flex-direction: column;
    }

    .formulario {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 80%;
        padding-left: 20%;
        margin-bottom: 100px;
    }


}